body {
    background: aqua;
    width: 1000px;
    height: 500px;
}
fieldset{
    background: white;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
    width: 500px;
    height: 250px;
}
h3 {
    width: 800px;
    text-align: center;
    color: white;
    background: #d61b06;
}
table {
    text-align: start;
    width: 800px;
    border-collapse: collapse;
}
th {
    color: blue;
    text-align: right;
}
td {
    color: coral;
}
.text {
    padding-bottom: 80px;
}